<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/user/save}" th:object="${dtoUser}" th:method="post" accept-charset="utf-8">
    <h1>New User:</h1>

    <div class="row">
        <label for="holder-inputName">Name</label>
        <br>
        <input id="holder-inputName" name="name" type="text" th:value="${dtoUser.name}" value="Name"/>
        <br><br>
        <label for="holder-inputLogin">Login</label>
        <br>
        <input id="holder-inputLogin" name="login" type="text" th:value="${dtoUser.login}" value="Login"/>
        <br><br>
        <label for="holder-inputPassword">Password</label>
        <br>
        <input id="holder-inputPassword" name="password" type="text" th:value="${dtoUser.password}" value="Password"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
